extends layout

block content
  h2 #{title}
  form(method='POST', action='')
    div
      label(for='name') Name: &nbsp;
      input(type='text', placeholder='Name', name='name', value=(undefined===item ? '':item.name), required=true)
    div
      label(for='description') Description: 
      input(type='textarea', name='description', placeholder='Describe this item', value=(undefined===item ? '':item.description), required=true)
    div
      label(for='stock') Stock: &nbsp;
      input#stock(type='text', name='stock', placeholder='0', value=(undefined===item ? '': item.stock), required=true)
    div
      label(for='price') Price: $
      input#price(type='text', name='price', placeholder='0.00', value=(undefined===item? '': item.price), required=true)
    div
      label(for='category') Category: 
      select(type='select', name='category' required=true)
        for category in category_list
          option(value=category._id, selected=(undefined===item?false:item.category==category.id? true:false)) #{category.name}
    div.submit
      button(type='submit') Submit)
  if errors
    ul
      for error in errors
        li #{error.msg}
      