extends layout

block content

  h2 #{title}
  
  table
    tr
      th Name
      th Stock  
      th Price
    for item in item_list
      tr
        td
          a(href=item.url) #{item.name}
        td #{item.stock}
        td #{item.price}